Incendo/gateway/doc/ws/bulk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--========================================================================

 ==========================================================================
 COPYRIGHT (C) 2007 Ingenico
 ALL RIGHTS RESERVED

 Copyright in the whole and every part of this software program belongs to
 Ingenico.  It may not be used, sold, licensed, transferred, copied
 or reproduced in whole or in part in any manner or form other than in
 accordance with and subject to the terms of a licence from Ingenico
 or with the prior written consent of Ingenico or as
 permitted by applicable law.
 This software program contains confidential and proprietary information and
 must not be disclosed, in whole or in part, to any person or organisation
 without the prior written consent of Ingenico.
 Any copies or reproductions of this software program (in whole or in part)
 made by any method must also include a copy of this legend.
 ==========================================================================
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ingenico.com/ns/bulk/data"
           xmlns:common="http://ingenico.com/ns/common/data" targetNamespace="http://ingenico.com/ns/bulk/data">
    <xs:annotation>
        <xs:documentation>
            Schema definition for data types required for bulk provisioning service
        </xs:documentation>
    </xs:annotation>
    <xs:annotation>
        <xs:documentation>
            ================== Imported Names ====================================
        </xs:documentation>
    </xs:annotation>
    <xs:import namespace="http://ingenico.com/ns/common/data" schemaLocation="./common.xsd"/>

    <xs:element name="ResultList" type="tns:ResultList"/>
    <xs:complexType name="ResultList">
        <xs:annotation>
            <xs:documentation>
	        List of results of object list prociessing
            </xs:documentation>
        </xs:annotation>
	<xs:sequence>
		<xs:element name="result" type="tns:Result" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
    </xs:complexType>

    <xs:element name="Result" type="tns:Result"/>
    <xs:complexType name="Result">
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="resultCode" type="xs:string"/>
        <xs:attribute name="resultMessage" type="xs:string" use="optional"/>
    </xs:complexType>

</xs:schema>
