Incendo/gateway/doc/ws/oegwmm.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
========================================================================
 
 ==========================================================================
 COPYRIGHT (C) 2004-2006 Ingenico
 ALL RIGHTS RESERVED

 Copyright in the whole and every part of this software program belongs to
 Ingenico UK.  It may not be used, sold, licensed, transferred, copied
 or reproduced in whole or in part in any manner or form other than in
 accordance with and subject to the terms of a licence from Ingenico
 or with the prior written consent of Ingenico or as
 permitted by applicable law.
 This software program contains confidential and proprietary information and
 must not be disclosed, in whole or in part, to any person or organisation
 without the prior written consent of Ingenico.
 Any copies or reproductions of this software program (in whole or in part)
 made by any method must also include a copy of this legend.
 ==========================================================================
-->
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:tns="http://ingenico.com/ns/oegwmm" xmlns:tnsdata="http://ingenico.com/ns/oegwmm/data"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://www.ingenico.com/terminal-config"
                  xmlns:common="http://ingenico.com/ns/common/data"
                  targetNamespace="http://ingenico.com/ns/oegwmm">
    <wsdl:types>
        <schema targetNamespace="http://ingenico.com/ns/oegwmm/data" xmlns="http://www.w3.org/2001/XMLSchema">
            <include schemaLocation="./oegwmm.xsd"/>
            <xsd:import namespace="http://ingenico.com/ns/common/data" schemaLocation="./common.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="sessionQueryRequest">
        <documentation>
            Retrieve session list query.
            See corresponding
            com.ingenico.cfgsrv.oegwmm.data.OegwSession[] sessionQuery(
            com.ingenico.cfgsrv.common.AuthCredentials auth,
            com.ingenico.cfgsrv.oegwmm.data.SessionQuery queryFilters,
            com.ingenico.cfgsrv.oegwmm.data.SessionSortField[] sortableFields)
            in autogenerated com.ingenico.cfgsrv.oegwmm.OEGWMMWSIF
            and its implemenations -
            com.ingenico.cfgsrv.oegwmm.OEGWMMSoapBindingImpl and
            com.ingenico.cfgsrv.oegwmm.OEGWMMServiceImpl,

            which retrieve and sort a list of session objects
            for the given filtering (searching) and sorting criteria.
        </documentation>
        <wsdl:part name="auth" type="common:AuthCredentials">
            <documentation>
                authentication data to determine
                whether current client may perform this operation
            </documentation>
        </wsdl:part>
        <wsdl:part name="queryFilters" type="tnsdata:SessionQuery">
            <documentation>
                data filtering (searching) criteria
            </documentation>
        </wsdl:part>
        <wsdl:part name="sortableFields" type="tnsdata:SessionSortList">
            <documentation>
                result sorting criteria
            </documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sessionQueryResponse">
        <documentation>
            Response contains list of sessions,
            filtered and sorted by incoming parameters.
        </documentation>
        <wsdl:part name="sessions" type="tnsdata:SessionIds"/>
    </wsdl:message>
    <wsdl:message name="getSessionsRequest">
        <wsdl:part name="auth" type="common:AuthCredentials">
            <documentation>
                authentication data to determine
                whether current client may perform this operation
            </documentation>
        </wsdl:part>
        <wsdl:part name="ids" type="tnsdata:SessionIds"/>
    </wsdl:message>
    <wsdl:message name="getSessionsResponse">
        <documentation>
            Response contains list of sessions,
            filtered and sorted by incoming parameters.
        </documentation>
        <wsdl:part name="sessions" type="tnsdata:Sessions"/>
    </wsdl:message>
    <wsdl:message name="getSessionDetailsRequest">
        <documentation>
            Retrieve session details and session requests query.
            See void getSessionDetails(
            com.ingenico.cfgsrv.common.AuthCredentials, long , com.ingenico.cfgsrv.oegwmm.data.RequestSortField[]
            sortableFields, com.ingenico.cfgsrv.oegwmm.data.holders.OegwSessionHolder session,
            com.ingenico.cfgsrv.oegwmm.data.holders.SessionRequestsHolder requests)
            com.ingenico.cfgsrv.oegwmm.data.OegwSession[] sessionQuery(
            com.ingenico.cfgsrv.common.AuthCredentials auth,
            com.ingenico.cfgsrv.oegwmm.data.SessionQuery queryFilters,
            com.ingenico.cfgsrv.oegwmm.data.SessionSortField[] sortableFields)
            in autogenerated com.ingenico.cfgsrv.oegwmm.OEGWMMWSIF
            and its implemenations -
            com.ingenico.cfgsrv.oegwmm.OEGWMMSoapBindingImpl and
            com.ingenico.cfgsrv.oegwmm.OEGWMMServiceImpl,

            which retrieve and sort a list of session objects
            for the given filtering (searching) and sorting criteria.
        </documentation>
        <wsdl:part name="auth" type="common:AuthCredentials">
            <documentation>
                authentication data
            </documentation>
        </wsdl:part>
        <wsdl:part name="sessionid" type="xsd:long">
            <documentation>
                session id
            </documentation>
        </wsdl:part>
        <wsdl:part name="sortableFields" type="tnsdata:RequestSortList"/>
    </wsdl:message>
    <wsdl:message name="getSessionDetailsResponse">
        <documentation>
            Response contains session details and list of session requests
        </documentation>
        <wsdl:part name="session" type="tnsdata:OegwSession"/>
        <wsdl:part name="requests" type="tnsdata:SessionRequests"/>
    </wsdl:message>
    <wsdl:message name="purgeAllSessionsRequest">
        <documentation>
            purge sessions
        </documentation>
        <wsdl:part name="auth" type="common:AuthCredentials">
            <documentation>
                authentication data
            </documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="purgeSessionsRequest">
        <documentation>
            purge defined sessions
        </documentation>
        <wsdl:part name="auth" type="common:AuthCredentials">
            <documentation>
                authentication data
            </documentation>
        </wsdl:part>
        <wsdl:part name="queryFilters" type="tnsdata:SessionQuery">
            <documentation>
            </documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSessionRequestRequest">
        <documentation>
            get terminal request/reply iteration content
        </documentation>
        <wsdl:part name="auth" type="common:AuthCredentials">
            <documentation>
                authentication data
            </documentation>
        </wsdl:part>
        <wsdl:part name="sessionid" type="xsd:long">
            <documentation>
                session id
            </documentation>
        </wsdl:part>
        <wsdl:part name="requestid" type="xsd:long">
            <documentation>
                request id
            </documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSessionRequestResponse">
        <documentation>
            terminal request/reply iteration content
        </documentation>
        <wsdl:part name="iterationData" type="tnsdata:SessionRequest"/>
        <wsdl:part name="request" type="tnsdata:RequestInfo"/>
        <wsdl:part name="reply" type="tnsdata:ReplyInfo"/>
        <wsdl:part name="errortext" type="xsd:string"/>
        <wsdl:part name="errorcode" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="getStatisticsRequest">
        <documentation>
            get statistics
        </documentation>
        <wsdl:part name="auth" type="common:AuthCredentials">
            <documentation>
                authentication data
            </documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getStatisticsResponse">
        <documentation>
            Response contains list of stats properties
        </documentation>
        <wsdl:part name="statistics" type="common:NameValuePairs"/>
    </wsdl:message>
    <wsdl:message name="getConfigSettingsRequest">
        <documentation>
            get oegw settings
        </documentation>
        <wsdl:part name="auth" type="common:AuthCredentials">
            <documentation>
                authentication data
            </documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getConfigSettingsResponse">
        <documentation>
            Response contains list of oegw settings
        </documentation>
        <wsdl:part name="settings" type="common:NameValuePairs"/>
    </wsdl:message>
    <wsdl:message name="getActivityLogIdsRequest">
        <documentation>
            get list of activity logs basing on search criteria
        </documentation>
        <wsdl:part name="auth" type="common:AuthCredentials">
            <documentation>
                authentication data
            </documentation>
        </wsdl:part>
        <wsdl:part name="queryFilters" type="tnsdata:ActivityLogQuery">
            <documentation>
                data filtering (searching) criteria
            </documentation>
        </wsdl:part>
        <wsdl:part name="sortableFields" type="tnsdata:ActivityLogSortList">
            <documentation>
                result sorting criteria
            </documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getActivityLogIdsResponse">
        <documentation>
            Response contains list of activity logs
        </documentation>
        <wsdl:part name="logs" type="tnsdata:ActivityLogIds"/>
    </wsdl:message>
    <wsdl:message name="getActivityLogsRequest">
        <wsdl:part name="auth" type="common:AuthCredentials">
            <documentation>
                authentication data to determine
                whether current client may perform this operation
            </documentation>
        </wsdl:part>
        <wsdl:part name="ids" type="tnsdata:ActivityLogIds"/>
    </wsdl:message>
    <wsdl:message name="getActivityLogsResponse">
        <documentation>
            Response contains list of activity logs
        </documentation>
        <wsdl:part name="logs" type="tnsdata:ActivityLogs"/>
    </wsdl:message>
    <wsdl:message name="addActivityLogRequest">
        <documentation>
            get oegw settings
        </documentation>
        <wsdl:part name="auth" type="common:AuthCredentials">
            <documentation>
                authentication data
            </documentation>
        </wsdl:part>
        <wsdl:part name="log" type="tnsdata:ActivityLog">
            <documentation>
                activity log
            </documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="stopOEGWRequest">
        <documentation>
            stop OEGW
        </documentation>
        <wsdl:part name="auth" type="common:AuthCredentials">
            <documentation>
                authentication data
            </documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="shutdownRequest">
        <documentation>
            stop OEGW
        </documentation>
        <wsdl:part name="command" type="xsd:string">
            <documentation>
                authentication command
            </documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="uploadHashRequest">
        <documentation>
            upload hash request
        </documentation>
        <wsdl:part name="auth" type="common:AuthCredentials">
            <documentation>
                authentication data
            </documentation>
        </wsdl:part>
        <wsdl:part name="srvid" type="xsd:string">
            <documentation>
                service id
            </documentation>
        </wsdl:part>
        <wsdl:part name="properties" type="common:NameValuePairs">
            <documentation>
                set of resource names and corresponding hashes
            </documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hashValidRequest">
        <documentation>
            get hash request
        </documentation>
        <wsdl:part name="auth" type="common:AuthCredentials">
            <documentation>
                authentication data
            </documentation>
        </wsdl:part>
        <wsdl:part name="service" type="xsd:string">
            <documentation>
                service id
            </documentation>
        </wsdl:part>
        <wsdl:part name="resource" type="xsd:string">
            <documentation>
                resource name
            </documentation>
        </wsdl:part>
        <wsdl:part name="hash" type="xsd:string">
            <documentation>
                resource hash
            </documentation>
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="baseResponse">
        <documentation>
            Response contains result (valid or not), error message in case of any errors
        </documentation>
        <wsdl:part name="rslt" type="xsd:long"/>
        <wsdl:part name="errormsg" type="xsd:string"/>
    </wsdl:message>
    <wsdl:portType name="OEGWMMWSIF">
        <wsdl:operation name="sessionQuery">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="sessionQueryRequest" message="tns:sessionQueryRequest"/>
            <wsdl:output name="sessionQueryResponse" message="tns:sessionQueryResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getSessions">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getSessionsRequest" message="tns:getSessionsRequest"/>
            <wsdl:output name="getSessionsResponse" message="tns:getSessionsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getSessionDetails">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getSessionDetailsRequest" message="tns:getSessionDetailsRequest"/>
            <wsdl:output name="getSessionDetailsResponse" message="tns:getSessionDetailsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getSessionRequest">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getSessionRequestRequest" message="tns:getSessionRequestRequest"/>
            <wsdl:output name="getSessionRequestResponse" message="tns:getSessionRequestResponse"/>
        </wsdl:operation>
        <wsdl:operation name="purgeAllSessions">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="purgeAllSessionsRequest" message="tns:purgeAllSessionsRequest"/>
            <wsdl:output name="purgeAllSessionsResponse" message="tns:baseResponse"/>
        </wsdl:operation>
        <wsdl:operation name="purgeSessions">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="purgeSessionsRequest" message="tns:purgeSessionsRequest"/>
            <wsdl:output name="purgeSessionsResponse" message="tns:baseResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getStatistics">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getStatisticsRequest" message="tns:getStatisticsRequest"/>
            <wsdl:output name="getStatisticsResponse" message="tns:getStatisticsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getConfigSettings">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getConfigSettingsRequest" message="tns:getConfigSettingsRequest"/>
            <wsdl:output name="getConfigSettingsResponse" message="tns:getConfigSettingsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getActivityLogIds">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getActivityLogIdsRequest" message="tns:getActivityLogIdsRequest"/>
            <wsdl:output name="getActivityLogIdsResponse" message="tns:getActivityLogIdsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getActivityLogs">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getActivityLogsRequest" message="tns:getActivityLogsRequest"/>
            <wsdl:output name="getActivityLogsResponse" message="tns:getActivityLogsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addActivityLog">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="addActivityLogRequest" message="tns:addActivityLogRequest"/>
            <wsdl:output name="addActivityLogResponse" message="tns:baseResponse"/>
        </wsdl:operation>
        <wsdl:operation name="stopOEGW">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="stopOEGWRequest" message="tns:stopOEGWRequest"/>
            <wsdl:output name="stopOEGWResponse" message="tns:baseResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shutdown">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="shutdownRequest" message="tns:shutdownRequest"/>
            <wsdl:output name="stopOEGWResponse" message="tns:baseResponse"/>
        </wsdl:operation>
        <wsdl:operation name="uploadHash">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="uploadHashRequest" message="tns:uploadHashRequest"/>
            <wsdl:output name="uploadHashResponse" message="tns:baseResponse"/>
        </wsdl:operation>
        <wsdl:operation name="hashValid">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="hashValidRequest" message="tns:hashValidRequest"/>
            <wsdl:output name="hashValidResponse" message="tns:baseResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OEGWMMSoapBinding" type="tns:OEGWMMWSIF">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sessionQuery">
            <documentation>
                session query
            </documentation>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSessions">
            <documentation>
                session query
            </documentation>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSessionDetails">
            <documentation>
                gets session details and list of session requests
            </documentation>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSessionRequest">
            <documentation>
                gets terminal session iteration data
            </documentation>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="purgeAllSessions">
            <documentation>
                purge all sessions
            </documentation>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="purgeSessions">
            <documentation>
                purge sessions defined by criteria
            </documentation>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStatistics">
            <documentation>
                gets statistics
            </documentation>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getConfigSettings">
            <documentation>
                gets oegw settings
            </documentation>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActivityLogIds">
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActivityLogs">
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addActivityLog">
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="stopOEGW">
            <documentation>
                stop OEGW
            </documentation>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shutdown">
            <documentation>
                stop OEGW with command instead of auth.data
            </documentation>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadHash">
            <documentation>
                upload list of resource hashes
            </documentation>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hashValid">
            <documentation>
                return OK if hash is valid, error with appropriate message in other case
            </documentation>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ingenico.com/ns/oegwmm"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OEGWMMWSIFService">
        <wsdl:port name="OEGWMM" binding="tns:OEGWMMSoapBinding">
            <wsdlsoap:address location="http://localhost:8090/cfgsrv/services/OEGWMM"/>
        </wsdl:port>
    </wsdl:service>
    <!--
      This WSDL defines WS-API for gateway management.
      See com.ingenico.cfgsrv.oegwmm.OEGWMMWSIF interface (which was
      autogenerated by wsdl2java), com.ingenico.cfgsrv.oegwmm.OEGWMMSoapBindingImpl
      class (which was initially autogenerated by wsdl2java and is being modified
      by developers) and com.ingenico.cfgsrv.oegwmm.OEGWMMServiceImpl class
    -->
</wsdl:definitions>
