Incendo/gateway/doc/tml/log_post.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--========================================================================

 ==========================================================================
 COPYRIGHT (C) 2007 Ingenico
 ALL RIGHTS RESERVED

 Copyright in the whole and every part of this software program belongs to
 Ingenico. It may not be used, sold, licensed, transferred, copied
 or reproduced in whole or in part in any manner or form other than in
 accordance with and subject to the terms of a licence from Ingenico
 or with the prior written consent of Ingenico or as
 permitted by applicable law.
 This software program contains confidential and proprietary information and
 must not be disclosed, in whole or in part, to any person or organisation
 without the prior written consent of Ingenico.
 Any copies or reproductions of this software program (in whole or in part)
 made by any method must also include a copy of this legend.
 ==========================================================================
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ingenico.com/log_post" targetNamespace="http://www.ingenico.com/log_post" elementFormDefault="qualified" version="1.0" xml:lang="en">
  <xs:annotation>
    <xs:documentation>
    Log post structure description

    COPYRIGHT (C) 2007 Ingenico
    ALL RIGHTS RESERVED

    </xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>
    ================== Imported Names ====================================
    </xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>
    ================ Document Structure ==================================
    </xs:documentation>
  </xs:annotation>

  <xs:element name="log">
    <xs:annotation>
      <xs:documentation>Log post root element</xs:documentation>
    </xs:annotation>

    <xs:complexType>

      <xs:sequence>
        <xs:element ref="logrec" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>

      <xs:attribute name="name" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>
              log name
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="uri" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>
              log scope uri
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

    </xs:complexType>
  </xs:element>

  <xs:element name="logrec">
    <xs:annotation>
      <xs:documentation>Log record</xs:documentation>
    </xs:annotation>

    <xs:complexType>
      <xs:sequence>
        <xs:element ref="postvar" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="postvar">
    <xs:annotation>
      <xs:documentation>Posted variable value</xs:documentation>
    </xs:annotation>

    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="integer"/>
            <xs:enumeration value="string"/>
            <xs:enumeration value="date"/>
            <xs:enumeration value="opaque"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
