Incendo/examples/trans/source/web/trans.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--========================================================================

 ==========================================================================
 COPYRIGHT (C) 2009 Ingenico
 ALL RIGHTS RESERVED

 Copyright in the whole and every part of this software program belongs to
 Ingenico.  It may not be used, sold, licensed, transferred, copied
 or reproduced in whole or in part in any manner or form other than in
 accordance with and subject to the terms of a licence from Ingenico
 or with the prior written consent of Ingenico or as
 permitted by applicable law.
 This software program contains confidential and proprietary information and
 must not be disclosed, in whole or in part, to any person or organisation
 without the prior written consent of Ingenico.
 Any copies or reproductions of this software program (in whole or in part)
 made by any method must also include a copy of this legend.
 ==========================================================================
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ingenico.com/terminal-config" targetNamespace="http://www.ingenico.com/terminal-config" elementFormDefault="qualified" version="1.0" xml:lang="en">
	<xs:annotation>
		<xs:documentation>
            Structure of transaction

            COPYRIGHT (C) 2009 Ingenico
            ALL RIGHTS RESERVED

        </xs:documentation>
	</xs:annotation>
	<xs:element name="field">
		<xs:annotation>
			<xs:documentation>
                Field 
            </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="row">
		<xs:annotation>
			<xs:documentation>
                Row 
            </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="id" type="xs:long" use="required"/>
			<xs:attribute name="transaction-type" type="xs:string" use="required"/>
			<xs:attribute name="currency" type="xs:string" use="required"/>			
			<xs:attribute name="amount" type="xs:long" use="required"/>						
			<xs:attribute name="number" type="xs:long" use="required"/>			
		</xs:complexType>
	</xs:element>	
	<xs:element name="txn">
		<xs:annotation>
			<xs:documentation>
                Row 
            </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="id" type="xs:long" use="required"/>
			<xs:attribute name="date" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="amount" type="xs:long" use="required"/>						
			<xs:attribute name="amount2" type="xs:long" use="optional"/>						
			<xs:attribute name="currency" type="xs:string" use="optional"/>			
			<xs:attribute name="authcode" type="xs:long" use="optional"/>			
			<xs:attribute name="errorcode" type="xs:string" use="optional"/>			
			<xs:attribute name="errormessage" type="xs:string" use="optional"/>			
		</xs:complexType>
	</xs:element>	
	<xs:element name="message-request">
		<xs:annotation>
			<xs:documentation>
                Transaction request data
            </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="field" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
                            List of fields
                        </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="message-response">
		<xs:annotation>
			<xs:documentation>
                Transaction response data
            </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="field" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
                            List of fields
                        </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="transaction">
		<xs:annotation>
			<xs:documentation>
                Transaction
            </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="transaction-id" type="xs:long"/>
				<xs:choice>
					<xs:element ref="message-request"/>
					<xs:element ref="message-response"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="rows">
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="row" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:sequence>
	</xs:complexType>
	<xs:element name="reconciliation">
		<xs:annotation>
			<xs:documentation>
                Reconciliation
            </xs:documentation>
		</xs:annotation>
		<xs:complexType>
    <xs:complexContent>
      <xs:extension base="rows">
        <xs:attribute name="startid" type="xs:long" use="required"/>
        <xs:attribute name="endid" type="xs:long" use="required"/>
        <xs:attribute name="txncount" type="xs:long" use="optional"/>
        <xs:attribute name="rows" type="xs:long" use="optional"/>
        <xs:attribute name="status" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:complexContent>
		</xs:complexType>
	</xs:element>	

	<xs:element name="txnupload">
		<xs:annotation>
			<xs:documentation>
                Txn upload
            </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="txn" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
</xs:schema>
